# Dependencies
node_modules/
.pnp
.pnp.js

# Production
dist/
dist-cli/
out/
build/

# IDE & OS
.vscode/
.DS_Store
.idea/

# Extension Packages (Do not commit binary packages)
*.vsix
extension/*.vsix

# Rust
target/
web/pkg/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
web/pkg-node/
web/pkg-node/
