# Dependencies
node_modules/
.pnp
.pnp.js

# Production
dist/
out/
build/

# IDE & OS
.vscode/
.DS_Store
.idea/

# Extension Packages (Do not commit binary packages)
*.vsix
extension/*.vsix

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
